${pageProperties.jcr:title}
<br>
${currentPage.path}
<div data-sly-resource="${'parcontent' @ resourceType='wcm/foundation/components/parsys'}"></div>
<sly data-sly-use.pageHerarchy="com.infodalesRitesh.aem.core.models.PageHerarchyModel">
   <div data-sly-list.demo="${pageHerarchy.childrenPagesList}">
      <li>"${demo}"</li>
   </div>
</sly>

<sly data-sly-use.pageHerarchy="com.infodalesRitesh.aem.core.models.NodeDamDemo"></sly>
