<h1>Header</h1>

<sly data-sly-use.linkModel="com.infodalesRitesh.aem.core.models.LinkModule">
	<a href="${linkModel.link}.html" target="_self">
		<img src="${linkModel.fileReference}" alt="${linkModel.alttext}" width="200" height="150"/>
	</a>
	<div data-sly-list.myMultifieldList="${linkModel.myMultifield}">
		<a href="${myMultifieldList.link @ extension='html'}">${myMultifieldList.element}</a>

	</div>
</sly>

