
<sly data-sly-use.page="com.infodalesRitesh.aem.core.models.PageLinkDemo">
<h2>${page.label}</h2>  <br/>
<h4>${page.description}</h4>


<div data-sly-list.pagelist="${page.linklist}">
"${pagelist.link @ extension='html'}":${pagelist.pageTitle}
</div>

</sly>