This is My main page for pageshell template
<br>

<div data-sly-resource="${'header' @ resourceType='/apps/infodales-ritesh/components/content/header'}"/></div>



<div data-sly-resource="${'breadcrumb_page_shell' @ resourceType='/apps/infodales-ritesh/components/content/breadcrumb_page_shell'}"/></div>
<div data-sly-resource="${'parcontent' @ resourceType='wcm/foundation/components/parsys'}"/>

<div data-sly-resource="${'footer' @ resourceType='/apps/infodales-ritesh/components/content/footer'}"/></div>


