This is demo page

<sly data-sly-use.name="com.infodalesRitesh.aem.core.models.Demo">


<li>"${name.employee}"</li>


</sly>
</sly>

<img src="${properties.fileReference}"width="200" height="150">
</img>

${properties.fileName}

<h1>${properties.text}</h1>
${properties.label}
${properties.select}
