
This is aboutus page


<sly data-sly-use.about="com.infodalesRitesh.aem.core.models.AboutUs">
${about.message}
<img src="${about.fileReference}" width="250" height="150"></img>


</sly>
${properties.fileName}
${properties.select}

<h1>${properties.text}</h1>
${properties.label}
