<div data-sly-resource="${'parcontent' @ resourceType='wcm/foundation/components/parsys'}"/>
<sly data-sly-use.demoservice="com.infodalesRitesh.aem.core.models.MessageServiceModel"></sly>

<h1>My Service ${demoservice.message}</h1>